[user]
	name = Mikael Arvids
	email = mikael.arvids@gmail.com
[color]
	ui = auto
[alias]
    ci = commit
    st = status
    br = branch
    co = checkout
    df = diff
    dc = diff --cached
	glog = log --graph --oneline --all --decorate
	glog-orphans = !git glog $(git rev-list -g --all)

[push]
	default = simple
